body {
  background-color: #FF0000;
}



p {
  text-align: center;
  color:white;
}

h2 {
  float:left;
}

h1 {
  text-align: center;
}

.sidebar {
  border: solid 4px orange;
  float: right;
  width: 25%;
  background-color: #D844B7;
  padding: 0 20px 50px 20px;
  margin: 20px;
}

.featured {
  width: 66%;
  padding: 20px;
}

.sidebar-img {
 width: 100%;
 padding-top: 40px;
}
